---
layout: page
title : CensedPie
header-img: "img/home-bg.jpg"
description: "Portfolio"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>Welcome to CensedPie's Online Portfolio!</p>
		<p>I'm an aspiring Software Engineer currently attending Politehnica University: FILS College in Bucharest, Romania</p>

		<p>In 2018 I had the opportunity to work at Ubisoft Bucharest where I gained a lot of inspiration and knowledge about the game making process.</p>

		<p>During the period 2019 and 2020 I took time off to work on a personal project in Unity. During this period I learned a lot about game patterns and shader programming. The majority of the time I took off from college during this period was to learn from tutorials Unity shader programming.</p>

		<p>As a passionate gamer and programmer, I wish to continue working in the game programming industry and work on big projects with a team.</p>

		<p>Check out my CV/Resume <a href="/resume/AlexandruSavuCV.pdf">here</a>.</p>


	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Projects</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Languages:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
